
<!-- FORM FOR PROFILE INFORMATION -->

	<form action='/contract/' target='_self' method='post'>
	<div class = "cell large-9 medium-9 small-8">
	{% csrf_token %}
	<table class="unstriped">

		<thead> <!-- CONTACT INFORMATION -->
			<tr style="background-color:rgba(255, 0, 0, 0.2)">
				<th width="200" style="background-color:rgba(255, 0, 0, 0.2)">Los Propietarios</th>
				<th style="background-color:rgba(255, 0, 0, 0.2)">Primero Propietario</th>
				<th style="background-color:rgba(255, 0, 0, 0.2)">Segundo Propietario</th>
				<th style="background-color:rgba(255, 0, 0, 0.2)">Tercero Propietario</th>
				<th style="background-color:rgba(255, 0, 0, 0.2)">Cuarto Propietario</th>
				<th style="background-color:rgba(255, 0, 0, 0.2)">Quinto Propietario</th>
			</tr>
		</thead>
		<tbody>
		
			<tr>
				<td>{{ form.nombre_propietario1.label }}</td>
				<td><div class="fieldWrapper cell large-6">
					{{ form.nombre_propietario1.errors }}
					{{ form.nombre_propietario1 }}
				</div></td>
				<td><div class="fieldWrapper cell large-6">
					{{ form.nombre_propietario2.errors }}
					{{ form.nombre_propietario2 }}
				</div></td>
				<td><div class="fieldWrapper cell large-6">
					{{ form.nombre_propietario3.errors }}
					{{ form.nombre_propietario3 }}
				</div></td>
				<td><div class="fieldWrapper cell large-6">
					{{ form.nombre_propietario4.errors }}
					{{ form.nombre_propietario4 }}
				</div></td>
				<td><div class="fieldWrapper cell large-6">
					{{ form.nombre_propietario5.errors }}
					{{ form.nombre_propietario5 }}
				</div></td>
			</tr>

			<tr>
				<td>{{ form.dni_propietario1.label }}</td>
				<td><div class="fieldWrapper cell large-6">
					{{ form.dni_propietario1.errors }}
					{{ form.dni_propietario1 }}
				</div></td>
				<td><div class="fieldWrapper cell large-6">
					{{ form.dni_propietario2.errors }}
					{{ form.dni_propietario2 }}
				</div></td>
				<td><div class="fieldWrapper cell large-6">
					{{ form.dni_propietario3.errors }}
					{{ form.dni_propietario3 }}
				</div></td>
				<td><div class="fieldWrapper cell large-6">
					{{ form.dni_propietario4.errors }}
					{{ form.dni_propietario4 }}
				</div></td>
				<td><div class="fieldWrapper cell large-6">
					{{ form.dni_propietario5.errors }}
					{{ form.dni_propietario5 }}
				</div></td>
			</tr>
			<tr>
				<td>{{ form.dirrecion_propietario1.label }}</td>
				<td><div class="cell large-6">
					{{ form.dirrecion_propietario1.errors }}
					{{ form.dirrecion_propietario1 }}
				</div></td>
				<td><div class="cell large-6">
					{{ form.dirrecion_propietario2.errors }}
					{{ form.dirrecion_propietario2 }}
				</div></td>
				<td><div class="cell large-6">
					{{ form.dirrecion_propietario3.errors }}
					{{ form.dirrecion_propietario3 }}
				</div></td>
				<td><div class="cell large-6">
					{{ form.dirrecion_propietario4.errors }}
					{{ form.dirrecion_propietario4 }}
				</div></td>
				<td><div class="cell large-6">
					{{ form.dirrecion_propietario5.errors }}
					{{ form.dirrecion_propietario5 }}
				</div></td>
			</tr>
			<thead> <!-- DATE INFORMATION -->
				<tr style="background-color:rgba(255, 0, 0, 0.2)">
					<th width="200" style="background-color:rgba(255, 0, 0, 0.2)">Los Inquilinos</th>
				<th style="background-color:rgba(255, 0, 0, 0.2)">Primero Inquilino</th>
				<th style="background-color:rgba(255, 0, 0, 0.2)">Segundo Inquilino</th>
				<th style="background-color:rgba(255, 0, 0, 0.2)">Tercero Inquilino</th>
				<th style="background-color:rgba(255, 0, 0, 0.2)">Cuarto Inquilino</th>
				</tr>
			</thead>

			<tr>
				<td>{{ form.nombre_inquilino1.label }}</td>
				<td><div class="fieldWrapper cell large-6">
					{{ form.nombre_inquilino1.errors }}
					{{ form.nombre_inquilino1 }}
				</div></td>
				<td><div class="fieldWrapper cell large-6">
					{{ form.nombre_inquilino2.errors }}
					{{ form.nombre_inquilino2 }}
				</div></td>
				<td><div class="fieldWrapper cell large-6">
					{{ form.nombre_inquilino3.errors }}
					{{ form.nombre_inquilino3 }}
				</div></td>
				<td><div class="fieldWrapper cell large-6">
					{{ form.nombre_inquilino4.errors }}
					{{ form.nombre_inquilino4 }}
				</div></td>
			</tr>
			<tr>
				<td>{{ form.tipo_documento1.label }}</td>
				<td><div class="cell large-6">
					{{ form.tipo_documento1.errors }}
					{{ form.tipo_documento1 }}
				</div></td>
				<td><div class="cell large-6">
					{{ form.tipo_documento2.errors }}
					{{ form.tipo_documento2 }}
				</div></td>
				<td><div class="cell large-6">
					{{ form.tipo_documento3.errors }}
					{{ form.tipo_documento3 }}
				</div></td>
				<td><div class="cell large-6">
					{{ form.tipo_documento4.errors }}
					{{ form.tipo_documento4 }}
				</div></td>
			</tr>
			<tr>
					<td>{{ form.numero_documento1.label }}</td>
					<td><div class="cell large-6">
						{{ form.numero_documento1.errors }}
						{{ form.numero_documento1 }}
					</div></td>
					<td><div class="cell large-6">
						{{ form.numero_documento2.errors }}
						{{ form.numero_documento2 }}
					</div></td>
					<td><div class="cell large-6">
						{{ form.numero_documento3.errors }}
						{{ form.numero_documento3 }}
					</div></td>
					<td><div class="cell large-6">
						{{ form.numero_documento4.errors }}
						{{ form.numero_documento4 }}
					</div></td>
				</tr>
			<tr>

			<tr>
					<td>{{ form.dirrecion_inquilino1.label }}</td>
					<td><div class="cell large-6">
						{{ form.dirrecion_inquilino1.errors }}
						{{ form.dirrecion_inquilino1 }}
					</div></td>
					<td><div class="cell large-6">
						{{ form.dirrecion_inquilino2.errors }}
						{{ form.dirrecion_inquilino2 }}
					</div></td>
					<td><div class="cell large-6">
						{{ form.dirrecion_inquilino3.errors }}
						{{ form.dirrecion_inquilino3 }}
					</div></td>
					<td><div class="cell large-6">
						{{ form.dirrecion_inquilino4.errors }}
						{{ form.dirrecion_inquilino4 }}
					</div></td>
				</tr>

			<thead> <!-- DATE INFORMATION -->
				<tr style="background-color:rgba(255, 0, 0, 0.2)">
					<th width="200" style="background-color:rgba(255, 0, 0, 0.2)">El Contrato</th>
					<th style="background-color:rgba(255, 0, 0, 0.2)"></th>
				</tr>
			</thead>

			<tr>
				<td>{{ form.alquiler.label }}</td>
				<td><div class="cell large-6">
					{{ form.alquiler.errors }}
					{{ form.alquiler }}
				</div></td>
			</tr>
			<tr>
				<td>{{ form.ajuste.label }}</td>
				<td><div class="cell large-6">
					{{ form.ajuste.errors }}
					{{ form.ajuste }}
				</div></td>
			</tr>
			<tr>
				<td>{{ form.semestral_o_anual.label }}</td>
				<td><div class="cell large-6">
					{{ form.semestral_o_anual.errors }}
					{{ form.semestral_o_anual }}
				</div></td>
			</tr>
				<td>{{ form.calle.label }}</td>
				<td><div class="fieldWrapper cell large-6">
					{{ form.calle.errors }}
					{{ form.calle }}
				</div></td>
			</tr>	

			<tr>
				<td>{{ form.fecha_comienzo.label }}</td>
				<td><div class="fieldWrapper cell large-6">
					{{ form.fecha_comienzo.errors }}
					{{ form.fecha_comienzo }}
				</div></td>
			</tr>

			<tr>
				<td>{{ form.fecha_ingreso.label }}</td>
				<td><div class="fieldWrapper cell large-6">
					{{ form.fecha_ingreso.errors }}
					{{ form.fecha_ingreso }}
				</div></td>
			</tr>

			<tr>
				<td>{{ form.numero_monto_deposito.label }}</td>
				<td><div class="fieldWrapper cell large-6">
					{{ form.numero_monto_deposito.errors }}
					{{ form.numero_monto_deposito }}
				</div></td>
			</tr>

		<thead> <!-- OPTION INFORMATION -->
			<tr style="background-color:rgba(255, 0, 0, 0.2)">
				<th width="200" style="background-color:rgba(255, 0, 0, 0.2)">Elija solo UNO de los siguientes.</th>
				<th style="background-color:rgba(255, 0, 0, 0.2)"></th>
			</tr>
		</thead>

			<tr>
				<td>{{ form.option1.label }}</td>
				<td><div class="fieldWrapper cell large-6">
					{{ form.option1.errors }}
					{{ form.option1 }}
				</div></td>
			</tr>
			<tr>
				<td>{{ form.option2.label }}</td>
				<td><div class="fieldWrapper cell large-6">
					{{ form.option2.errors }}
					{{ form.option2 }}
				</div></td>
			</tr>
			<tr>
				<td>{{ form.option3.label }}</td>
				<td><div class="fieldWrapper cell large-6">
					{{ form.option3.errors }}
					{{ form.option3 }}
				</div></td>
			</tr>
			<tr>
				<td>{{ form.option4.label }}</td>
				<td><div class="fieldWrapper cell large-6">
					{{ form.option4.errors }}
					{{ form.option4 }}
				</div></td>
			</tr>
			<tr>
				<td>{{ form.option5.label }}</td>
				<td><div class="fieldWrapper cell large-6">
					{{ form.option5.errors }}
					{{ form.option5 }}
				</div></td>
			</tr>
			<tr>
				<td>{{ form.option6.label }}</td>
				<td><div class="fieldWrapper cell large-6">
					{{ form.option6.errors }}
					{{ form.option6 }}
				</div></td>
			</tr>
		</tbody> <!-- END OF CONTACT INFORMATION -->

		<thead> <!-- OPTION INFORMATION -->
			<tr style="background-color:rgba(255, 0, 0, 0.2)">
				<th width="200" style="background-color:rgba(255, 0, 0, 0.2)">Optional Information</th>
				<th style="background-color:rgba(255, 0, 0, 0.2)"></th>
			</tr>
		</thead>

			<tr>
				<td>{{ form.nombre_garante.label }}</td>
				<td><div class="fieldWrapper cell large-6">
					{{ form.nombre_garante.errors }}
					{{ form.nombre_garante }}
				</div></td>
			</tr>
			<tr>
				<td>{{ form.matricula.label }}</td>
				<td><div class="cell large-6">
					{{ form.matricula.errors }}
					{{ form.matricula }}
				</div></td>
			</tr>
			<tr>
				<td>{{ form.numero_poliza.label }}</td>
				<td><div class="cell large-6">
					{{ form.numero_poliza.errors }}
					{{ form.numero_poliza }}
				</div></td>
			</tr>
			<tr>
				<td>{{ form.nombre_finaer.label }}</td>
				<td><div class="fieldWrapper cell large-6">
					{{ form.nombre_finaer.errors }}
					{{ form.nombre_finaer }}
				</div></td>
			</tr>
			<tr>
				<td>{{ form.documento_representanto.label }}</td>
				<td><div class="fieldWrapper cell large-6">
					{{ form.documento_representanto.errors }}
					{{ form.documento_representanto }}
				</div></td>
			</tr>

		<thead> <!-- BUTTONS -->
			<tr>
				<form action="PHP.php" id="test" method="post">
     			</form>
				<td><input type="submit" class="button small" value="Create Contract"></td>		
			</tr>
		</thead> <!-- END OF BUTTONS -->

	</table>
	</form> <!-- END OF FORM FOR PROFILE INFORMATION -->

	</div>
	</table>
	</form> <!-- END OF FORM FOR PROFILE INFORMATION -->
</body>
</html>

